@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables color style
$yellow-color: #eacf4f;
$white-color: #fff;
$black-color: #000;
$light-color: #aaa;
$border: 0.2rem solid rgba(255, 255, 255, 0.3);

// Mixin SCSS
@mixin titleText($titleSize) {
    font-size: $titleSize;
    text-transform: uppercase;
    color: $white-color;
}
@mixin graphText($graphSize) {
    font-size: $graphSize;
    line-height: 1.7;
    color: $light-color;
}
@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: 2.5rem;
}


* {
    font-family: 'Raleway', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all 0.3s linear;

    &::selection {
        background: $yellow-color;
        color: $white-color;
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $yellow-color;
        border-radius: 0.5rem;
    }
}

body {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;  
}

section {
    padding: 4rem 9%;
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.5rem;
    margin-top: 1rem;
    border: $border;
    color: $white-color;
    background: transparent;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        background: $light-color;
        color: $black-color;
    }
}

.heading {
    text-align: center;
    margin: 2.5rem 0;
    margin-top: 80px;

    h1 {
        @include titleText(3rem);
        margin: 0.3rem 0 2rem;
    }
}

// CSS Scroll Top
#scroll-top {

    i {
        position: fixed;
        bottom: 5rem;
        right: -4rem;
        z-index: 999;
        font-size: 3.2rem;
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        background: $yellow-color;
        border: $border;
        border-color: $yellow-color;
        color: $black-color;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0;

        &:hover {
            background-color: transparent;
            color: $yellow-color;
        }

        &.active {
            right: 5.5rem;
            opacity: 1;
        }
    }
}

// CSS Loading Page
#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white-color;

    &.active {
        top: -105%;
    }
}


// CSS Header
.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 3rem 9%;
    z-index: 999;
    background-color: $black-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    .icons {
        font-size: 2.8rem;
        color: $white-color;
        cursor: pointer;

        &:hover {
            color: $yellow-color;
        }

        &.fa-xmark {
            font-size: 2.6rem;
            transform: scale(1.4) rotate(180deg);   
        }
    }

    #menu-btn {
        display: none;
    }

    .navbar {
        
        a {
            font-size: 2rem;
            color: $white-color;
            margin-left: 1.9rem;
            font-weight: 600;

            &:hover {
                color: $yellow-color;
                text-decoration: underline;
                text-underline-offset: 0.7rem;
            }
        }

        .space {
            width: 16rem;
            display: inline-block;
        }
    }

    .logo {
        position: absolute;
        top: 2.7rem; left: 49.3%;
        transform: translateX(-50%);

        img {
            width: 15rem;
        }
    }

    .search-form {
        height: 7rem;
        border-top: $border;
        padding: 0 3rem;
        background-color: $black-color;
        display: flex;
        align-items: center;
        position: absolute;
        top: 99%;
        left: 0; right: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        input {
            font-size: 1.6rem;
            width: 100%;
            text-transform: none;
            background: none;
            color: $white-color;
        }

        label {
            color: $white-color;
            font-size: 2.5rem;
            cursor: pointer;

            &:hover {
                color: $yellow-color;
            }
        }
    }
}

// CSS Home 
.home {
    margin-top: 5rem;
    background: url(../images/home-bg.png) no-repeat;
    background-size: cover;
    background-position: center;

    .content {
        max-width: 45%;
        text-align: center;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h3 {
            @include titleText(3.5rem);
        }

        p {
            @include graphText(1.7rem);
            padding: 1rem 0;
        }
    }
}

// CSS Services
.services {
    @include grid(30rem);

    .box {
        text-align: center;
        padding: 2.5rem;
        border: $border;
        border-radius: 0.5rem;

        &:hover {
            background-color: $yellow-color;
            
            i {
                background-color: $white-color;
            }
            
            p {
                color: $black-color;
            }
        }

        i {
            width: 7rem;
            height: 7rem;
            line-height: 7rem;
            color: $black-color;
            background-color: $yellow-color;
            border-radius: 50%;
            margin-bottom: 1rem;
            font-size: 2.7rem;
            cursor: pointer;
        }

        h3 {
            padding: 1rem 0;
            @include titleText(2rem);
            letter-spacing: 0.2rem;
        }

        p {
            @include graphText(1.55rem);
        }
    }
}

// CSS Menu
.menu {

    .box-container {
        @include grid(30rem);
        gap: 4rem;

        .box {
            text-align: center;
            padding: 1.5rem;
            border-radius: 0.5rem;

            &:hover {
                .image img {
                    transform: translateY(-1rem);
                }

                box-shadow: 0 0.5rem 1rem $yellow-color;
            }

            .image {
                height: 24rem;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content {
                padding: 1rem 0;

                .rating {

                    i {
                        color: $yellow-color;
                        margin: 0 0.3rem;
                        font-size: 2rem;
                    }
                }

                h3 {
                    @include titleText(2rem);
                    margin: 1.5rem 0 1rem;
                }

                .price {
                    @include graphText(2rem);
                }
            }
        }
    }
}

// CSS About
.about {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;

    .image {
        flex: 1 1 40rem;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        flex: 1 1 40rem;

        .title {
            @include titleText(3.5rem);
            margin-bottom: 1.5rem;
            text-transform: capitalize;
        }
        
        p {
            @include graphText(1.6rem);
            color: $light-color;
            margin: 1rem 0;
            line-height: 2;
        }

        .icons {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
            align-items: center;
            margin: 2rem 0;

            h3 {
                flex: 1 1 16rem;
                @include titleText(1.7rem);
                color: $white-color;
                text-transform: capitalize;
                
                i {
                    color: $yellow-color;
                    padding-right: 0.5rem;
                }
            }
        }
    }
}

// CSS Reviews 
.reviews {

    .box-container {
        @include grid(30rem);
        gap: 3rem;

        .box {
            text-align: center;
            padding: 2.5rem;

            img {
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                margin-bottom: 1.5rem;
            }

            h3 {
                @include titleText(1.9rem);
                text-transform: capitalize;
            }

            p {
                @include graphText(1.4rem);
                margin: 1.3rem 0;
            }

            .rating i {
                color: $yellow-color;
                font-size: 1.6rem;
                margin: 0.2rem;
            }
        }
    }
}

// CSS Contact
.contact {

    .row {
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;

        .map {
            flex: 1 1 40rem;
            border: $border;
            border-radius: 0.5rem;
        }

        .form {
            flex: 1 1 40rem;

            .form-container {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                margin-bottom: 2rem;

                .box {
                    flex: 1 1 15rem;
                    
                    text-align: center;

                    i {
                        width: 5rem;
                        height: 5rem;
                        line-height: 5rem;
                        background-color: $yellow-color;
                        color: $black-color;
                        border-radius: 50%;
                        font-size: 2.1rem;
                    }

                    h4 {
                        @include titleText(1.8rem);
                        margin: 1rem 0;
                        text-transform: capitalize;
                    }

                    p {
                        @include graphText(1.4rem);
                        text-transform: none;
                    }
                }
            }

            form {
                width: 100%;
                text-align: center;

                .input-box {
                    width: 100%;
                    margin-bottom: 2rem;
                    padding: 1rem 1.6rem;
                    border-radius: 0.5rem;
                    border: $border;
                    background: transparent;
                    color: $white-color;
                    font-size: 1.5rem;

                    &:focus {
                        border-color: $yellow-color;
                        color: $yellow-color;
                    }
                }

                textarea {
                    height: 13rem;
                    resize: none;
                }

                .btn {
                    margin-top: 0;
                    border-radius: 0.5rem;
                }
            }
        }
    }
}

// CSS Blogs
.blogs {

    .box-container {
        margin-top: 4rem;
        @include grid(30rem);
        gap: 3rem;

        .box {
            position: relative;

            &:hover .image {
                img {
                    transform: scale(1.15);
                }

                .info-post {
                    bottom: 0;
                }
            }

            .image {
                height: 25rem;
                position: relative;
                overflow: hidden;
                border-radius: 0.5rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .info-post {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.8rem 2rem;
                    background-color: $black-color;
                    position: absolute;
                    bottom: -10rem;
                    left: 0; right: 0;
                    z-index: 99;
                    font-size: 1.5rem;
                    color: $white-color;

                    i {
                        color: $yellow-color;
                        padding-right: 0.5rem;
                    }
                }
            }

            .content {
                padding: 2rem;

                h3 {
                    @include titleText(1.8rem);
                    text-transform: capitalize;
                    font-weight: 600;
                    font-style: italic;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                }

                p {
                    @include graphText(1.5rem);
                    color: $light-color;
                    line-height: 1.8;
                    margin: 1rem 0;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
            }
        }
    }
}

// CSS Footer
.footer {
    padding: 4rem 9%;
    background: linear-gradient(transparent, $black-color);
    border-top: $border;

    .box-container {
        @include grid(22rem);
        margin-bottom: 2rem;
        
        .box {

            .logo {
                margin-bottom: 0.5rem;
            }

            p {
                @include graphText(1.5rem);
                text-transform: none;
                line-height: 1.6;
            }

            .address, .email, .phone {
                display: flex;
                align-items: center;
                color: $white-color;
                font-size: 1.5rem;
                margin: 2rem 0;

                i {
                    color: $yellow-color;
                    width: 2.5rem;
                }

                .mailto, .telephone {
                    color: $white-color;
                    text-transform: none;
                    text-decoration: none;
                    font-weight: normal;
                    margin-bottom: 0;
                }
            }

            h3 {
                @include titleText(2rem);
                text-transform: capitalize;
                margin-bottom: 2rem;
            }

            a {
                display: block;
                margin-bottom: 1.5rem;
                font-size: 1.5rem;
                color: $light-color;

                i.fa-caret-right {
                    padding-right: 0.8rem;
                }

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 0.5rem;
                    color: $yellow-color;
                    font-weight: 700;

                    i.fa-caret-right {
                        padding-right: 1.5rem;
                    }
                }
            }

            form {
                margin-top: 1.5rem;

                .input-box {
                    width: 100%;
                    padding: 1.2rem 1.5rem;
                    text-transform: none;
                    font-size: 1.6rem;
                    background: transparent;
                    color: $white-color;
                    border: $border;
                    border-radius: 0.5rem;

                    &:focus {
                        border-color: $yellow-color;
                        color: $black-color;
                        background-color: $yellow-color;

                        &::placeholder {
                            color: $black-color;
                        }
                    }
                }
            }

            .btn {
                margin-top: 2.5rem;
            }
        }
    }

    .credit-footer {
        text-align: center;
        color: $white-color;
        font-size: 2rem;
        padding-top: 3rem;
        border-top: $border;

        span {
            color: $yellow-color;
            font-style: italic;
            font-weight: 700;
        }
    }
}


// Media queries: Responsive Design
@media (max-width: 1200px) {
    section {
        padding: 3rem 5rem;
    }

    .header {
        padding: 3rem 5rem;
    }

    .home {
        margin-top: 7rem;
        .content {
            max-width: 50%;
        }
    }
}

@media (max-width: 991px) {
    html {
        font-size: 57%;
    }

    section {
        padding: 3rem;
    }

    .header {
        padding: 3rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 53%;
    }

    section {
        padding: 2.5rem 3.5rem;
    }

    #scroll-top {
        i {
            font-size: 2.9rem;
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            &.active {
                right: 4rem;
            }
        }
    }

    .header {
        padding: 2.5rem 3.5rem;
        justify-content: end;
        gap: 2rem;
        align-items: center;

        #menu-btn {
            display: block;
        }

        .logo {
            transform: translateX(0);
            left: 2.7rem;
            top: 2.5rem;
        }

        .navbar {
            position: absolute;
            top: 99%;
            left: 0; right: 0;
            background-color: $black-color;
            padding: 1rem 3rem;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                margin: 2.5rem 0; 
            }

            .space {
                display: none;
            }
        }
    }

    .home {
        .content {
            max-width: 60%;
        }
    }

    .about {
        .image {
            display: flex;
            justify-content: center;

            img {
                width: 60%; 
            }
        } 
    }

    .contact .row {
        .map {
            min-height: 38rem;
        }
    }
}

@media (max-width: 450px) {

    html {
        font-size: 51%;
    }

    section {
        padding: 2rem 2.5rem;
    }

    #scroll-top {
        i {
            font-size: 2.6rem;
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            &.active {
                right: 3rem;
            }
        }
    }

    .header {
        padding: 2rem 2.5rem;
    }

    .home {
        .content {
            max-width: 85%;

            h3 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
        }
    }

    .about {
        .image {
            img {
                width: 70%; 
            }
        } 
    }

    .contact .row {
        .map {
            min-height: 32rem;
        }
    }
}